<div class="jumbotron">
  <h1>Welcome to TASKr</h1>
  <p>Find out how simple it is to keep track of your tasks!  Sign up today!</p>
  <p><a class="btn btn-primary btn-lg" href="/users/new">Sign Up</a></p>
</div>