<h4>Your Tasks:</h4>

	<%= render 'tasks/newform' %>
	<br>
<% if @todos.size == 0 %>
	<p>You do not currently have any todos!</p>
<% else %>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Description</th>
				<th>Status</th>
				<th>Options</th>
			</tr>
		</thead>

		<tbody>

			<% @todos.each do |todo| %>
				<% if todo["is_complete"] %>
					<tr class = "success">
				<% else %>
					<tr class = "warning">
				<% end %>
					<td><%= todo["description"] %></td>
					<td><% if todo["is_complete"]%>
						Complete
					<% else %>
						Incomplete
				<% end %>
					</td>
					<td><%= link_to "Edit Task", "/task/edit?task_id=#{todo["id"]}" %></td>
					
				</tr>
			<% end %>

		</tbody>
	</table>
<% end %> 
