<h4>Your Tasks:</h4>
<div class="btn btn-success pull-right">Add Task</div>
<% if @todos.size == 0 %>
<p>You do not currently have any todos!</p>
<% else %>
<% @todos.each do |todo| %>
<%= todo %>
<% end %>

<% end %> 


<div id='hidden-form'>
	<div id="popupContact">
		<!-- Contact Us Form -->
		<%= form_tag("/task", name: "form") do %>
<!--		<form action="/task" id="form" method="post" name="form"> <input id="task" name="task" placeholder="Enter Task Info..." type="text">-->
			<%= text_field_tag(:task) %>
			
			<a href="javascript:%20check_empty()" id="submit">Send</a>
		<% end %>
	</div>
</div>

<button id="popup" onclick="div_show()">Popup</button>
<!--from http://www.formget.com/how-to-create-pop-up-contact-form-using-javascript/ -->

<script type="text/javascript">
function check_empty() {
	if (document.getElementById('task').value == "") {
		alert("Please Enter a Task Name!");
	} else {
		document.getElementById('form').submit();
		alert("Form Submitted Successfully...");
	}
}
//Function To Display Popup
function div_show() {
	document.getElementById('hidden-form').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
	document.getElementById('hidden-form').style.display = "none";
}

</script>