<h4>Your Tasks:</h4>

	<%= render 'tasks/newform' %>
	<br>
<% if @todos.size == 0 %>
	<p>You do not currently have any todos!</p>
<% else %>

	<table class="table table-hover" id="todo-table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Description</th>
				<th>Status</th>
				<th>Options</th>
			</tr>
		</thead>

		<tbody>

			<% @todos.each do |todo| %>
				<% if todo["is_complete"] %>
					<tr class = "success">
				<% else %>
					<tr class = "warning">
				<% end %>
					<td><i class="fa fa-arrow-up move up"></td>
					<td><i class="fa fa-arrow-down move down"> </td>
					<td><%= todo["description"] %></td>
					<td><% if todo["is_complete"]%>
						Complete
					<% else %>
						Incomplete
				<% end %>
					</td>
					<td><%= link_to "Edit Task", "/task/edit?task_id=#{todo["id"]}" %></td>
					
				</tr>
			<% end %>

		</tbody>
	</table>
<% end %> 

<!-- http://jsfiddle.net/cambraca/hhf6s/ -->
<script type="text/javascript">
$('#todo-table i.move').click(function() {
    var row = $(this).closest('tr');
    if ($(this).hasClass('up'))
        row.prev().before(row);
    else
        row.next().after(row);
});

</script>